<%-include('../layout/admin/header.ejs') %>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <%-include('../layout/admin/navbar.ejs') %>
            <%-include('../layout/admin/nav.ejs') %>
                <div class="page-wrapper">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Category</h4>
                                        <form class="mt-4" method="post" onsubmit="return validateForm()">
                                            <div class="form-group">
                                                <input type="text" name="CategoryName" id="categoryName" class="form-control" placeholder="Enter Category Name">
                                                <span style="color: red;" id="categoryNameError" class="error"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="CategoryDescription" id="categoryDescription" class="form-control" placeholder="Enter Description">
                                                <span style="color: red;" id="categoryDescriptionError" class="error"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                        <% if( messages.message ) { %>
                                            <p style="color: red">
                                              <%=messages.message %>
                                            </p>
                                            <%}%> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>


    <script>
        
        function validateForm() {
            let categoryName = document.getElementById('categoryName').value.trim();
            let categoryDescription = document.getElementById('categoryDescription').value.trim();
            let categoryNameError = document.getElementById('categoryNameError');
            let categoryDescriptionError = document.getElementById('categoryDescriptionError');
            let isValid = true;
            if (categoryName === '' || categoryName.replace(/\s/g, '') === '') {
                categoryNameError.textContent = 'Category Name is required';
                isValid = false;
            } else if (!/^[A-Za-z\s]*$/.test(categoryName)) {
                categoryNameError.textContent = 'Category Name should only contain letters and spaces';
                isValid = false;
            } else {
                categoryNameError.textContent = '';
            }
            if (categoryDescription === '' || categoryDescription.replace(/\s/g, '') === '') {
                categoryDescriptionError.textContent = 'Category Description is required';
                isValid = false;
            } else if (!/^[A-Za-z\s]*$/.test(categoryDescription)) {
                categoryDescriptionError.textContent = 'Category Description should only contain letters and spaces';
                isValid = false;
            } else {
                categoryDescriptionError.textContent = '';
            }
    
            return isValid;
        }

    </script>
    
    



    <%-include('../layout/admin/footer.ejs') %>