<%-include('../layout/admin/header.ejs') %>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <%-include('../layout/admin/navbar.ejs') %>
            <%-include('../layout/admin/nav.ejs') %>

                <div class="page-wrapper">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card" style="width: 300%;">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Product</h4>
                                        <form class="mt-4" id="productForm">
                                            <div class="form-group">
                                                <label for="name">Product Name</label>
                                                <input type="text" name="productName" id="productName"
                                                    class="form-control" placeholder="Enter Product Name">
                                                <span id="productNameError" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="desciption">Description</label>
                                                <input type="text" name="productDescription" id="productDescription"
                                                    class="form-control" placeholder="Enter Description">
                                                <span id="descriptionError" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="price">Price</label>
                                                <input type="text" name="Price" id="Price" class="form-control"
                                                    placeholder="Enter Price">
                                                <span id="priceError" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="category">Category</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text"
                                                            for="inputGroupSelect01">Options</label>
                                                    </div>
                                                    <select class="custom-select" id="category" name="Category">
                                                        <option selected>category</option>
                                                        <% category.forEach(category=>{ %>
                                                            <option value="<%= category._id %>">
                                                                <%= category.name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="quantity">Quantity</label>
                                                <input type="text" name="Quantity" id="Quantity" class="form-control"
                                                    placeholder="Enter Quantity">
                                                <span id="quantityError" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Images</label>
                                                <div class="d-flex justify-content-between">
                                                    <div class="image-upload-container" style="width: 100%;">
                                                        <div class="close-icon"
                                                            onclick="deleteImage('img1', 'preview1');">&times;</div>
                                                        <label for="img1" class="form-label">
                                                            <img style="width: 85%;" id="preview1"
                                                                src="https://bit.ly/3ubuq5o" alt="Preview 1">
                                                        </label>
                                                        <input type="file" class="form-control" id="img1"
                                                            name="cropImages" style="display: none;">
                                                        <button class="btn btn-light" type="button"
                                                            onclick="document.getElementById('img1').click();">Upload
                                                            Image</button>
                                                    </div>
                                                    <div class="image-upload-container" style="width: 100%;">
                                                        <div class="close-icon"
                                                            onclick="deleteImage('img2', 'preview2');">&times;</div>
                                                        <label for="img2" class="form-label">
                                                            <img style="width: 85%;" id="preview2"
                                                                src="https://bit.ly/3ubuq5o" alt="Preview 2">
                                                        </label>
                                                        <input type="file" class="form-control" id="img2"
                                                            name="cropImages" style="display: none;">
                                                        <button class="btn btn-light" type="button"
                                                            onclick="document.getElementById('img2').click();">Upload
                                                            Image</button>
                                                    </div>
                                                    <div class="image-upload-container" style="width: 100%;">
                                                        <div class="close-icon"
                                                            onclick="deleteImage('img3', 'preview3');">&times;</div>
                                                        <label for="img3" class="form-label">
                                                            <img style="width: 85%;" id="preview3"
                                                                src="https://bit.ly/3ubuq5o" alt="Preview 3">
                                                        </label>
                                                        <input type="file" class="form-control" id="img3"
                                                            name="cropImages" style="display: none;">
                                                        <button class="btn btn-light" type="button"
                                                            onclick="document.getElementById('img3').click();">Upload
                                                            Image</button>
                                                    </div>
                                                </div>

                                                <!-- Modal  for cropping image  -->
                                                <div class="modal fade" id="imageCropModal" tabindex="-1"
                                                    aria-labelledby="imageCropModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="imageCropModalLabel">Crop
                                                                    Image</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body ">
                                                                <img id="imageToCrop" src="" alt="Crop this image"
                                                                    style="max-width: 100%;">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                                <button type="button" class="btn btn-primary"
                                                                    id="cropImageBtn">Crop</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            document.getElementById('productForm').addEventListener('submit', function (event) {
                const productName = document.getElementById('productName').value.trim();
                if (productName === '') {
                    document.getElementById('productNameError').innerText = 'Product Name cannot be empty';
                    event.preventDefault();
                } else if (!productName.match(/^[A-Za-z\s]+$/)) {
                    document.getElementById('productNameError').innerText = 'Product Name should only contain letters';
                    event.preventDefault();
                } else {
                    document.getElementById('productNameError').innerText = '';
                }
    
                const description = document.getElementById('productDescription').value.trim();
                if (description === '') {
                    document.getElementById('descriptionError').innerText = 'Description cannot be empty';
                    event.preventDefault();
                } else {
                    document.getElementById('descriptionError').innerText = '';
                }
    
    
                const price = document.getElementById('Price').value.trim();
                if (isNaN(price) || price === '') {
                    document.getElementById('priceError').innerText = 'Price must be a number';
                    event.preventDefault();
                } else if (parseFloat(price) <= 0) {
                    document.getElementById('priceError').innerText = 'Price must be a positive number';
                    event.preventDefault();
                } else {
                    document.getElementById('priceError').innerText = '';
                }
    
                const quantity = document.getElementById('Quantity').value.trim();
                if (isNaN(quantity) || quantity === '') {
                    document.getElementById('quantityError').innerText = 'Quantity must be a number';
                    event.preventDefault();
                } else if (parseFloat(quantity) <= 0) {
                    document.getElementById('quantityError').innerText = 'Quantity must be a positive number';
                    event.preventDefault();
                } else {
                    document.getElementById('quantityError').innerText = '';
                }
            });
        </script>
        
        

    <!-- ================================add Product========================== -->

    <script>
        function deleteImage(inputId, previewId) {
            let input = document.getElementById(inputId);
            let preview = document.getElementById(previewId);
            input.value = "";
            preview.src = "https://bit.ly/3ubuq5o";

        }
    </script>

    <script>

        let currentInputId, currentPreviewId, cropper;
        let croppedImages = {};
        let originalFileNames = {};

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('img1').addEventListener('change', function () { prepareImageForCropping('img1', 'preview1'); });
            document.getElementById('img2').addEventListener('change', function () { prepareImageForCropping('img2', 'preview2'); });
            document.getElementById('img3').addEventListener('change', function () { prepareImageForCropping('img3', 'preview3'); });

            document.getElementById('cropImageBtn').addEventListener('click', function () {
                performCropping();
            });

            $('#imageCropModal').on('shown.bs.modal', function () {
                let image = document.getElementById('imageToCrop');
                cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    dragMode: "move",
                    minContainerWidth: 450,
                    minContainerHeight: 500,
                    minCropBoxWidth: 400,
                    minCropBoxHeight: 400,
                    minCanvasHeight: 500,
                    minCanvasWidth: 500,

                });
            });

            $('#imageCropModal').on('hidden.bs.modal', function () {
                if (cropper) {
                    cropper.destroy();
                    cropper = null;
                }
            });

        })

        function prepareImageForCropping(inputId, previewId) {

            console.log("my id",inputId);

            currentInputId = inputId;
            currentPreviewId = previewId;
            const input = document.getElementById(inputId);
            const file = input.files[0];
            const newDate = new Date().getTime();
            originalFileNames[inputId] = `${file.name}_${newDate}`;
            console.log("originalFileNames[inputId]", originalFileNames[inputId]);

            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imageToCrop').src = e.target.result;
                $('#imageCropModal').modal('show');
            };
            reader.readAsDataURL(file);
        }

        function performCropping() {
            if (!cropper) {
                console.error("Cropper is not initialized.");
                return;
            }
            cropper.getCroppedCanvas().toBlob((blob) => {

                const preview = document.getElementById(currentPreviewId);
                preview.src = URL.createObjectURL(blob);

                croppedImages[currentInputId] = blob;


                $('#imageCropModal').modal('hide');
            }, 'image/png')


        }


        // adding 

        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('form')
            form.addEventListener('submit', function (e) {
                e.preventDefault()

                const productName = document.getElementById('productName').value.trim()
                const category = document.getElementById('category').value.trim()
                const price = document.getElementById('Price').value.trim()
                const description = document.getElementById('productDescription').value.trim()
                const quantity = document.getElementById('Quantity').value.trim()

                const image1 = document.getElementById('img1').files[0]
                const image2 = document.getElementById('img2').files[0]
                const image3 = document.getElementById('img3').files[0]

                const formData = new FormData()
                formData.append('productName', productName)
                formData.append('category', category)
                formData.append('Price', price)
                formData.append('productDescription', description)
                formData.append('Quantity', quantity)

                Object.keys(croppedImages).forEach(key => {
                    const originalFileName = originalFileNames[key];
                    formData.append('cropImages', croppedImages[key], originalFileName);
                });

                console.log(formData);

                axios.post('/admin/addProduct', formData, {
                    headers: {
                        'Content-type': "multipart/form-data"
                    }
                }).then((res) => {
                    if (res.data.success) {
                        window.location.href = '/admin/product'
                    }

                }).catch((err) => {
                    console.log('error', err);
                });

            })
        })




    </script>


    <%-include('../layout/admin/footer.ejs') %>