<%-include('../layout/user/header.ejs') %>
    <style>
        .cart-bottom {
            display: flex;
            align-items: flex-start;
            margin-bottom: 3rem;
        }
    </style>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="/login" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li>
                                    <a href="/home" class="sf-ul">Home</a>
                                </li>
                                <li class="megamenu-container active">
                                    <a href="/shop" class="sf-ul">Shop</a>
                                </li>
                                <li>
                                    <a href="/about" class="sf-ul">about</a>
                                </li>
                                <li>
                                    <a href="/contact" class="sf-ul">contact</a>
                                </li>
                                <li>
                                    <a href="/profile" class="sf-ul">
                                        <%= locals.user ? user.username :"Profile" %>
                                    </a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="/wishlist" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                                title="Compare Products" aria-label="Compare Products">
                                <i class="icon-heart-o"></i>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile" id="Reload">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (cartDetails && cartDetails.products && cartDetails.products.length > 0) { %>
                                        <% cartDetails.products.forEach(product => { %>
                                            <tr>
                                                <td class="product-col">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="#">
                                                                <img src="/assets/images/productImg/sharpedImg/<%= product.productId.images[0] %>"
                                                                    alt="Product image">
                                                            </a>
                                                        </figure>
                                                        <h3 class="product-title">
                                                            <a href="#">
                                                                <%= product.productId.name %>
                                                                <% if (product.appliedOffer) { %>
                                                                    <span style="margin-right: 74%;" class="badge badge-success" ><%= product.offerText%></span>
                                                                <% }%>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </td>
                                                <td class="price-col">
                                                    <% if (product.appliedOffer) { %>
                                                        <span style="text-decoration: line-through;color: rgba(255, 19, 19, 0.696);">₹<%= product.productId.price %></span><br>
                                                        ₹ <%= product.productPrice %>
                                                    <% } else { %>
                                                        ₹ <%= product.productPrice %>
                                                    <% } %>
                                                </td>
                                                <td class="quantity-col">
                                                    <div class="cart-product-quantity">
                                                        <input type="text" class="form-control quantity-input" value="<%= product.quantity %>" readonly>
                                                    </div>
                                                </td>
                                                <td class="total-col">
                                                    <% if (product.appliedOffer) { %>
                                                        ₹ <%= product.discountedPrice * product.quantity %>
                                                    <% } else { %>
                                                        ₹ <%= product.productPrice * product.quantity %>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr class="text-center">
                                            <td colspan="6" style="color:red;">There are no products in your Cart</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- End .table table-wishlist -->
                            <p class="title mb-1" style="color: #98928cbe;font-size: medium;">Coupons</p>
                            <% if(coupon.length>0 ){%>
                                <% coupon.forEach((coupon, index)=> {%>

                                    <div class="border p-3 mb-1" style="width: 41%;">
                                        <h3 class="h6 mb-0">
                                            <a class="d-block coupon-toggle"
                                                style="color: rgba(0, 0, 0, 0.497);font-size: 90%;"
                                                data-toggle="collapse" href="#collapse<%= index %>" role="button"
                                                aria-expanded="false" aria-controls="collapse<%= index %>">
                                                <%= coupon.name %>
                                            </a>
                                        </h3>

                                        <div class="collapse" id="collapse<%= index %>">
                                            <div class="py-2">
                                                <p class="mb-0">coupon code : <span style="color: red;"><b>
                                                            <%= coupon.couponCode%>
                                                        </b></span></p>
                                                <p class="mb-0">discount : <%= coupon.discountAmount %></b></span></p>
                                                <p class="mb-0">Expire date : <%= moment(coupon.expiryDate,'DD/MM/YYYY').format('DD/MM/YYYY') %></b></span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <% }) %>

                                        <%}else{%>
                                            <div class="border p-3 mb-3" style="width: 41%;">
                                                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse"
                                                        href="#collapsebank" role="button" aria-expanded="false"
                                                        aria-controls="collapsebank">No Coupon Found
                                                    </a></h3>
                                            </div>
                                            <%}%>

                                                <div class="cart-bottom">
                                                    <div class="cart-discount">
                                                        <form action="#">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="c_code"
                                                                    placeholder="coupon code">
                                                                <div class="input-group-append"
                                                                    style="padding-bottom: 4%;">
                                                                    <button class="btn btn-outline-primary-2"
                                                                        type="submit" onclick=" applyCoupon(event)"><i
                                                                            class="icon-long-arrow-right"></i></button>
                                                                </div><!-- .End .input-group-append -->
                                                            </div><!-- End .input-group -->
                                                        </form>
                                                    </div><!-- End .cart-discount -->
                                                </div><!-- End .cart-bottom -->

                        </div><!-- End .col-lg-9 -->
                        <a style="margin-left: 0%; " href="/checkoutAddAddress">
                            <button
                                style="margin-top:4%; margin-bottom: 1%; border-color: #98928c; background-color: rgb(174, 165, 165);"
                                class="btn btn-primary">Add Address</button>
                        </a>
                        <form>
                            <div class="row">
                                <div class="col-lg-9">
                                    <% if(userData.address.length> 0) { %>
                                        <% userData.address.forEach((address, index)=> { %>
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input"
                                                            id="address<%= index %>" name="selectedAddress"
                                                            value="<%= address.name %>,&nbsp;<%= address.state%>,&nbsp;<%= address.city%>,&nbsp;<%= address.pincode%>,&nbsp;<%= address.mobile%>" />
                                                        <label class="custom-control-label" for="address<%= index %>">
                                                            <h3 class="card-title">Shipping Address</h3>
                                                            <!-- End .card-title -->
                                                            <%= address.name %> <br>
                                                                <%= address.state %> ,
                                                                    <%= address.city %> ,
                                                                        <%= address.pincode %> <br>
                                                                            <%= address.mobile %> <br>
                                                                                <a
                                                                                    href="/checkoutEditAddress?addressId=<%= address._id %>">
                                                                                    <i class="fa-solid fa-pen-to-square"
                                                                                        style="color: #424141;"></i>
                                                                                </a>
                                                        </label>
                                                    </div>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                            <% }) %>
                                                <% } else { %>
                                                    <p>You have not set up this type of address yet</p>
                                                    <% } %>
                                </div>
                                <!-- End .col-lg-9 -->

                                <aside class="col-lg-3">
                                    <a href="/paymentPolicy" style="margin-left: 66%;">Payment Policy</a>
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% if (cartDetails && cartDetails.products &&
                                                    cartDetails.products.length>
                                                    0) { %>
                                                    <% cartDetails.products.forEach(product=> { %>
                                                        <tr>
                                                            <td style="margin-left: 5%;">   <%= product.productId.name %> </td> 
                                                                <td><%= product.quantity %></td>
                                                            <td>₹<%= product.productPrice * product.quantity %>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                            <% } else { %>
                                                                <tr class="text-center">
                                                                    <td colspan="5" style="color:red;">There are no
                                                                        products in your Cart</td>
                                                                </tr>
                                                                <% } %>

                                                                    <tr class="summary-subtotal">
                                                                        <td>Subtotal:</td>
                                                                        <td> ₹<%=subTotal%>
                                                                        </td>
                                                                    </tr><!-- End .summary-subtotal -->
                                                                    <tr>
                                                                        <td>Shipping:</td>
                                                                        <td>Free shipping</td>
                                                                    </tr>
                                                                    <tr style="color: red;">
                                                                        <td>Discount:</td>
                                                                        <td  id="discount">-₹00.00</td>
                                                                    </tr>
                                                                    <tr class="summary-total">
                                                                        <td>Total:</td>
                                                                        <td id="totalAmount"> ₹<%=subTotal%>
                                                                        </td>
                                                                    </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="paymentOpt" value="COD">
                                                        Cash on Delivery

                                                    </h2>
                                                </div><!-- End .card-header -->
                                            </div><!-- End .card -->
                                            <br>
                                            <div class="card">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="paymentOpt" value="RAZORPAY">
                                                        Razor Pay

                                                    </h2>
                                                </div><!-- End .card-header -->
                                            </div><!-- End .card -->
                                            <br>
                                            <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="paymentOpt" value="WALLET">
                                                        Wallet ( ₹ <%= user.wallet%>)
                                                    </h2>
                                                </div><!-- End .card-header -->
                                            </div><!-- End .card -->
                                        </div><!-- End .accordion -->

                                        <button type="button" class="btn btn-outline-primary-2 btn-order btn-block"
                                            data-subtotal="<%=subTotal%>" id="placeOrderButton" onclick="placeOrder()">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Place Order</span>
                                        </button>

                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        async function placeOrder() {
            try {
                console.log("Function clicked");

                const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked');
                const selectedPayment = document.querySelector('input[name="paymentOpt"]:checked');
                const subTotal = document.getElementById('placeOrderButton').getAttribute('data-subtotal');
                let couponCode = document.getElementById('c_code').value

                if (!selectedAddress) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please select an address!",
                    });
                    return;
                }

                if (!selectedPayment) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Please select a payment method!",
                    });
                    return;
                }

                const data = {
                    address: selectedAddress.value,
                    subTotal: subTotal,
                    payment: selectedPayment.value,
                    couponCode
                };

                console.log("Request data:", data);

                const response = await fetch("/placeOrder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });

                if (!response.ok) {
                    throw new Error("Network response was not ok.");
                }

                const responseData = await response.json();
                console.log("Response Data:", responseData);

                if (responseData.success === true) {
                    Swal.fire({
                        icon: "success",
                        title: "Success!",
                        text: "Your order has been placed successfully!",
                        timer: 2000,
                    }).then(() => {
                        window.location.href = `/order/${responseData.orderId}`;
                    });
                } else if (responseData.quan) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Cannot Add Product!',
                        text: `Product ${responseData.insufficientProducts} is Out of Stock`,
                    });
                }else if(responseData.min){
                    Swal.fire({
                        icon: 'error',
                        title: 'Cannot place Order!',
                        text: 'COD is only applicable upto ₹1000',
                    });

                
                } else if (responseData.insufficientBalance){
                    Swal.fire({
                        icon: 'error',
                        title: 'Cannot place order',
                        text: 'insufficient wallet Amount',
                    });
                } else {
                    razorpayPayment(responseData.order);
                    console.log("Frontend Data:", responseData.order);
                }
            } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong. Please try again!",
                });
            }
        }




        function razorpayPayment(order) {
            console.log(order);
            var options = {
                "key": "rzp_test_CuUqfc6rZSdxRM", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Couturie", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    console.log("razorpay function", response);
                    verifyPayment(response, order)
                    console.log("razorpay order", order);

                },
                "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                    "name": name, //your customer's name
                    "email": "firzafida2@gmail.com",
                    "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(payment, order) {
            console.log(payment);
            console.log(order);
            $.ajax({
                url: '/verifyPayment',
                method: 'post',
                data: {
                    payment,
                    order
                },
                success: (response) => {
                    if (response.success == true) {
                        const param = response.params
                        console.log("klkl", param);
                        const url = '/order' + param
                        window.location.href = "/order/" + param
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Payment has failed',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                }
            })
        }

    </script>

    <script>
        function applyCoupon(event) {
            event.preventDefault()
            let couponCode = document.getElementById('c_code').value
            let subTotalElement = document.querySelector('.summary-subtotal td:nth-child(2)')
            let total = parseFloat(subTotalElement.textContent.replace(/\D/g, ''));
            console.log(couponCode, total);

            $.ajax({
                url: '/applyCoupon',
                data: {
                    couponCode: couponCode,
                    total: total
                },
                method: 'POST',
                success: (response) => {
                    if (response.notAvailable) {
                        fireSwal(response.message)
                    } else if (response.alreadyUsed) {
                        fireSwal(response.message)
                    } else if (response.expire) {
                        fireSwal(response.message)
                    } else if (response.min) {
                        fireSwal(response.message)
                    } else if (response.amountOkey) {
                        document.getElementById('discount').innerHTML = '-₹' + response.discountAmount
                        document.getElementById('totalAmount').innerHTML = '₹' + response.discountedTotal
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Discount redeemed',
                            showConfirmButton: false,
                            timer: 1500
                        })

                    }
                }

            })


        }

        function fireSwal(text) {

            Swal.fire({
                positon: "center",
                icon: "error",
                title: `${text}`,
                showConfirmButton: false,
                timer: 1500,
            });

        }

    </script>

    <%-include('../layout/user/footer.ejs') %>