<%- include('../layout/user/header.ejs') %>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }
</style>
<style>
  body {
    font-family: Arial, sans-serif;
    /* background-color: #000000; */
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #header,
  #order-success {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
  }

  th {
    background-color: #f2f2f2;
  }
</style>
  <div class="page-wrapper">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-left">
            <div class="header-dropdown">
              <a href="#">Usd</a>
              <div class="header-menu">
                <ul>
                  <li><a href="#">Eur</a></li>
                  <li><a href="#">Usd</a></li>
                </ul>
              </div><!-- End .header-menu -->
            </div><!-- End .header-dropdown -->

            <div class="header-dropdown">
              <a href="#">Eng</a>
              <div class="header-menu">
                <ul>
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </div><!-- End .header-menu -->
            </div><!-- End .header-dropdown -->
          </div><!-- End .header-left -->

          <div class="header-right">
            <ul class="top-menu">
              <li>
                <a href="#">Links</a>
                <ul>
                  <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>

                  <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                </ul>
              </li>
            </ul><!-- End .top-menu -->
          </div><!-- End .header-right -->
        </div><!-- End .container -->
      </div><!-- End .header-top -->

      <div class="header-middle sticky-header">
        <div class="container">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="icon-bars"></i>
            </button>

            <a href="index.html" class="logo">
              <img src="/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
            </a>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li>
                  <a href="/" class="sf-ul">Home</a>
                </li>
                <li>
                  <a href="/shop" class="sf-ul">Shop</a>
                </li>
                <li>
                  <a href="/about" class="sf-ul">About</a>
                </li>
                <li>
                  <a href="/contact" class="sf-ul">Contact</a>
                </li>
                <li class="active">
                  <a href="/profile" class="sf-ul">
                    <%= locals.user ? user.username :"Profile" %>
                  </a>
                </li>
              </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->
          </div><!-- End .header-left -->

          <div class="header-right">
            <div class="header-search">
              <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
              <form action="#" method="get">
                <div class="header-search-wrapper">
                  <label for="q" class="sr-only">Search</label>
                  <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                </div><!-- End .header-search-wrapper -->
              </form>
            </div><!-- End .header-search -->
            <div class="dropdown compare-dropdown">
              <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                <i class="icon-heart-o"></i>
              </a>


            </div><!-- End .compare-dropdown -->

            <div class="dropdown cart-dropdown">
              <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" data-display="static">
                <i class="icon-shopping-cart"></i>
                <span class="cart-count">2</span>
              </a>


            </div><!-- End .cart-dropdown -->
          </div><!-- End .header-right -->
        </div><!-- End .container -->
      </div><!-- End .header-middle -->
    </header><!-- End .header -->
    
<div id="header">
  <h1>Order Placed Successfully!</h1>
  </div>
  
  <div id="order-success">
  <h2>Order Summary</h2>
  
  <table>
    <thead>
      <tr>
        <th>Details</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Order Id:</td>
        <td>
          <%=order.orderId%>
        </td>
      </tr>
      <tr>
        <td>User Name:</td>
        <td>
          <%= order.userId.username %>
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <%=order.deliveryAddress%>
        </td>
      </tr>
      <tr>
        <td>Payment:</td>
        <td>
          <%=order.paymentMethod%>
        </td>
      </tr>
      <tr>
        <td>Total Price:</td>
        <td>₹ <%=order.totalAmount%>
        </td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>
          <%= moment(order.date).format('DD/MM/YYYY')%>
        </td>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>
  
  <div class="container mb-2" style="text-align: center; background-color: white">
    <div>
      <strong>Thank You For Purchasing With Us 
        <span class="btn btn-outline-light"><a href="/viewOrders"><b>View orders</b></a></span></strong>
    </div>
    <br />
    <div class="order-card-footer">
      <a href="/shop"><button class="btn btn-outline-primary mt-1" style="width: 150px">
          Continue Shopping
        </button></a>
    </div>
    <br />
  </div>
  </div>

   

    <footer class="footer">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="widget widget-about">
                <img src="/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. </p>

                <div class="social-icons">
                  <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
              </div><!-- End .widget about-widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="about.html">About Molla</a></li>
                  <li><a href="#">How to shop on Molla</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="contact.html">Contact us</a></li>
                  <li><a href="login.html">Log in</a></li>
                </ul><!-- End .widget-list -->
              </div><!-- End .widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="#">Payment Methods</a></li>
                  <li><a href="#">Money-back guarantee!</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Terms and conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul><!-- End .widget-list -->
              </div><!-- End .widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="/login">Sign In</a></li>
                  <li><a href="cart.html">View Cart</a></li>
                  <li><a href="#">My Wishlist</a></li>
                  <li><a href="#">Track My Order</a></li>
                  <li><a href="#">Help</a></li>
                </ul><!-- End .widget-list -->
              </div><!-- End .widget -->
            </div><!-- End .col-sm-6 col-lg-3 -->
          </div><!-- End .row -->
        </div><!-- End .container -->
      </div><!-- End .footer-middle -->

      <div class="footer-bottom">
        <div class="container">
          <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
          <!-- End .footer-copyright -->
          <figure class="footer-payments">
            <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20">
          </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
      </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
  </div><!-- End .page-wrapper -->
  <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
          required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
      </form>

      <nav class="mobile-nav">
        <ul class="mobile-menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/shop">Shop</a>
          </li>
          <li>
            <a href="/about" class="sf-with-ul">about</a>
          </li>
          <li>
            <a href="/contact">contact</a>
          </li>
          <li class="active">
            <a href="/profile">profile</a>
          </li>
        </ul>
      </nav><!-- End .mobile-nav -->

      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
  </div><!-- End .mobile-menu-container -->
  <%- include('../layout/user/footer.ejs') %>