<%-include('../layout/user/header.ejs') %>
	<div class="page-wrapper">
		<header class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-left">
						<div class="header-dropdown">
							<a href="#">Usd</a>
							<div class="header-menu">
								<ul>
									<li><a href="#">Eur</a></li>
									<li><a href="#">Usd</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropdown -->

						<div class="header-dropdown">
							<a href="#">Eng</a>
							<div class="header-menu">
								<ul>
									<li><a href="#">English</a></li>
									<li><a href="#">French</a></li>
									<li><a href="#">Spanish</a></li>
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropdown -->
					</div><!-- End .header-left -->

					<div class="header-right">
						<ul class="top-menu">
							<li>
								<a href="#">Links</a>
								<ul>
									<li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>

									<li><a href="/login"><i class="icon-user"></i>Login</a></li>
								</ul>
							</li>
						</ul><!-- End .top-menu -->
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-top -->

			<div class="header-middle sticky-header">
				<div class="container">
					<div class="header-left">
						<button class="mobile-menu-toggler">
							<span class="sr-only">Toggle mobile menu</span>
							<i class="icon-bars"></i>
						</button>

						<a href="index.html" class="logo">
							<img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
						</a>

						<nav class="main-nav">
							<ul class="menu sf-arrows">
								<li>
									<a href="/" class="sf-ul">Home</a>
								</li>
								<li class="megamenu-container active">
									<a href="/shop" class="sf-ul">Shop</a>
								</li>
								<li>
									<a href="/about" class="sf-ul">About</a>
								</li>

								<li>
									<a href="/contact" class="sf-ul">Contact</a>
								</li>
								<li>
									<a href="/profile" class="sf-ul">
										<%= locals.user ? user.username :"Profile" %>
									</a>
								</li>
							</ul><!-- End .menu -->
						</nav><!-- End .main-nav -->
					</div><!-- End .header-left -->

					<div class="header-right">
						<div class="dropdown compare-dropdown">
							<a href="/wishlist" class="dropdown-toggle" role="button" 
								aria-haspopup="true" aria-expanded="false" 
								title="Compare Products" aria-label="Compare Products">
								<i class="icon-heart-o"></i>
							</a>
						</div><!-- End .compare-dropdown -->
						<div class="dropdown cart-dropdown">
							<a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
								aria-expanded="false" data-display="static">
								<i class="icon-shopping-cart"></i>
								<span class="cart-count">2</span>
							</a>
						</div><!-- End .cart-dropdown -->
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-middle -->
		</header><!-- End .header -->
		<main class="main">
			<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
				<div class="container">
					<h1 class="page-title">SHOP</h1>
				</div><!-- End .container -->
			</div><!-- End .page-header -->
			<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="/shop">Shop</a></li>
					</ol>
				</div><!-- End .container -->
			</nav><!-- End .breadcrumb-nav -->
			<div class="header-left" style="margin-left: 90%; margin-bottom: 3%;">
				<div class="header-search">
					<a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
					<form action="#" method="get">
						<div class="header-search-wrapper">
							<label for="searchInput" class="sr-only">Search</label>
							<input type="search" class="form-control" name="searchInput" id="searchInput"
								   placeholder="Search in..." required>
						</div>
					</form>
				</div>
			</div>
			<div class="page-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-9">
							<div class="products mb-3">
								<div class="row justify-content-center" id="productListing">
									<% if(products.length>0){%>
										<% products.forEach(product=>{%>
											<div class="col-6 col-md-4 col-lg-4 col-xl-3">
												<div class="product product-7 text-center">
													<figure class="product-media">
														<!-- <span class="product-label label-new">New</span> -->
														<a href="/productDetails?productId=<%= product._id %>">
															<img src="/assets/images/productImg/sharpedImg/<%= product.images[0]%>"
																alt="Product image" class="product-image">
														</a>
														<div class="product-action-vertical">
															<a href="/wishlist"
																class="btn-product-icon btn-wishlist btn-expandable"><span>add
																	to wishlist</span></a>
														</div><!-- End .product-action-vertical -->
														<%if(product.quantity >0){%>
														<div class="product-action">
															<a class="btn-product btn-cart"
																onclick="addToCart()"><span>add to
																	cart</span></a>
														</div>
														<%}else{%>
														<div class="product-action">
															<a class="btn-product "
																><span>Out of Stock</span></a>
														</div>
														<%}%>
													</figure><!-- End .product-media -->
													<input type="hidden" id="productId" value="<%=product._id%>">
													<input type="hidden" id="quantity" value="1">
													<div class="product-body">
														<div class="product-cat">
															<!-- <a href="#">Women</a>    -->
														</div><!-- End .product-cat -->
														<h3 class="product-title"><a
																href="/productDetails?productId=<%= product._id %>">
																<%= product.name %>
															</a></h3><!-- End .product-title -->
														<div class="product-price">
															₹<%= product.price%>
														</div><!-- End .product-price -->
														<div class="ratings-container">
															<div class="ratings">
																<div class="ratings-val" style="width: 20%;"></div>
																<!-- End .ratings-val -->
															</div><!-- End .ratings -->
															<span class="ratings-text">( 2 Reviews )</span>
														</div><!-- End .rating-container -->
													</div><!-- End .product-body -->
												</div><!-- End .product -->
											</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
											<% }) %>
												<%}else{%>
													<span>no products</span>
													<% } %>
								</div>
							</div><!-- End .products -->
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">
										<li class="page-item ">
											<a class="page-link page-link-prev" href="/shop?id=<%= Previous%>"
												aria-label="Previous" tabindex="-1">
												<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
											</a>
										</li>
										<% for(let i=1; i<=totalPages; i++){%>
											<li class="page-item active" aria-current="page"><a class="page-link"
													href="/shop?id=<%= i %>">
													<%=i%>
												</a></li>
											<%}%>
												<li class="page-item-total">of <%= totalPages%>
												</li>
												<li class="page-item">
													<a class="page-link page-link-next" href="/shop?id=<%= Next%>"
														aria-label="Next">
														Next <span aria-hidden="true"><i
																class="icon-long-arrow-right"></i></span>
													</a>
												</li>
									</ul>
								</nav>
						</div><!-- End .col-lg-9 -->


						<aside class="col-lg-3 order-lg-first">
							<div class="sidebar sidebar-shop" id="filterForm">
								<div class="widget widget-clean">
									<label>Filters:</label>
									<a href="#" class="sidebar-filter-clear"></a>
								</div>

								<div class="widget widget-collapsible">
									<h3 class="widget-title">
										<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
											aria-controls="widget-1">
											Category
										</a>
									</h3>

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count" id="categoryFilters">
												<% if(categories.length> 0) { %>
													<% categories.forEach((category, index)=> { %>
														<div class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input"
																id="cat-<%= index + 1 %>" value="<%= category._id %>">
															<label class="custom-control-label"
																for="cat-<%= index + 1 %>">
																<%= category.name %>
															</label>
														</div>
														<% }) %>
															<% } else { %>
																<span>No Categories</span>
																<% } %>
											</div>
										</div>
									</div>
								</div>

								<div class="widget widget-collapsible">
									<h3 class="widget-title">
										<a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true"
											aria-controls="widget-2">
											Sort by
										</a>
									</h3>

									<div class="collapse show" id="widget-2">
										<div class="widget-body">
											<div class="filter-items" id="sortByFilters">
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" id="sort-1"
															name="sortBy" value="new">
														<label class="custom-control-label" for="sort-1">New
															Arrivals</label>
													</div>
												</div>
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" id="sort-2"
															name="sortBy" value="low-high">
														<label class="custom-control-label" for="sort-2">Price
															Low-High</label>
													</div>
												</div>
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" id="sort-3"
															name="sortBy" value="high-low">
														<label class="custom-control-label" for="sort-3">Price
															High-Low</label>
													</div>
												</div>
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" id="sort-4"
															name="sortBy" value="a-z">
														<label class="custom-control-label" for="sort-4">aA-zZ</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-primary" id="filter-submit" type="button">Apply Filters</button>
							</div>
						</aside>
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .page-content -->
		</main><!-- End .main -->



		<footer class="footer">
			<div class="footer-middle">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="widget widget-about">
								<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
									height="25">
								<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
									magna eros eu erat. </p>

								<div class="social-icons">
									<a href="#" class="social-icon" target="_blank" title="Facebook"><i
											class="icon-facebook-f"></i></a>
									<a href="#" class="social-icon" target="_blank" title="Twitter"><i
											class="icon-twitter"></i></a>
									<a href="#" class="social-icon" target="_blank" title="Instagram"><i
											class="icon-instagram"></i></a>
									<a href="#" class="social-icon" target="_blank" title="Youtube"><i
											class="icon-youtube"></i></a>
									<a href="#" class="social-icon" target="_blank" title="Pinterest"><i
											class="icon-pinterest"></i></a>
								</div><!-- End .soial-icons -->
							</div><!-- End .widget about-widget -->
						</div><!-- End .col-sm-6 col-lg-3 -->

						<div class="col-sm-6 col-lg-3">
							<div class="widget">
								<h4 class="widget-title">Useful Links</h4>

								<ul class="widget-list">
									<li><a href="/about">About Molla</a></li>
									<li><a href="/sop">How to shop on Molla</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="/contact">Contact us</a></li>
									<li><a href="/login">Log in</a></li>
								</ul><!-- End .widget-list -->
							</div><!-- End .widget -->
						</div><!-- End .col-sm-6 col-lg-3 -->

						<div class="col-sm-6 col-lg-3">
							<div class="widget">
								<h4 class="widget-title">Customer Service</h4>

								<ul class="widget-list">
									<li><a href="#">Payment Methods</a></li>
									<li><a href="#">Money-back guarantee!</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Terms and conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul><!-- End .widget-list -->
							</div><!-- End .widget -->
						</div><!-- End .col-sm-6 col-lg-3 -->

						<div class="col-sm-6 col-lg-3">
							<div class="widget">
								<h4 class="widget-title">My Account</h4>

								<ul class="widget-list">
									<li><a href="#">Sign In</a></li>
									<li><a href="cart.html">View Cart</a></li>
									<li><a href="#">My Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul><!-- End .widget-list -->
							</div><!-- End .widget -->
						</div><!-- End .col-sm-6 col-lg-3 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .footer-middle -->

			<div class="footer-bottom">
				<div class="container">
					<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
					<!-- End .footer-copyright -->
					<figure class="footer-payments">
						<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
					</figure><!-- End .footer-payments -->
				</div><!-- End .container -->
			</div><!-- End .footer-bottom -->
		</footer><!-- End .footer -->
	</div><!-- End .page-wrapper -->
	<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

	<!-- Mobile Menu -->
	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

	<div class="mobile-menu-container">
		<div class="mobile-menu-wrapper">
			<span class="mobile-menu-close"><i class="icon-close"></i></span>

			<form action="#" method="get" class="mobile-search">
				<label for="mobile-search" class="sr-only">Search</label>
				<input type="search" class="form-control" name="mobile-search" id="mobile-search"
					placeholder="Search in..." required>
				<button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
			</form>

			<nav class="mobile-nav">
				<ul class="mobile-menu">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/shop">Shop</a>
					</li>
					<li>
						<a href="/about" class="sf-ul">About</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/profile">profile</a>
					</li>
				</ul>
			</nav><!-- End .mobile-nav -->

			<div class="social-icons">
				<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
				<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
				<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
				<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
			</div><!-- End .social-icons -->
		</div><!-- End .mobile-menu-wrapper -->
	</div><!-- End .mobile-menu-container -->



	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		async function addToCart() {
			try {
				const productId = document.getElementById('productId').value
				const quantity = document.getElementById('quantity').value
				const data = {
					productId: productId,
					quantity: quantity
				}

				const response = await fetch('/addToCart', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				});

				const responseData = await response.json();

				if (responseData.success) {
					Swal.fire({
						title: "Success",
						text: "Product Added to Cart",
						icon: "Success",
						showCancelButton: true,
						confirmButtonText: "Go to Cart",
						cancelButtonText: "Continue Shopping",
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = '/cart';
						} else if (result.dismiss === Swal.DismissReason.cancel) {
							window.location.href = '/shop';
						}
					});
				} else {
					console.log("Login required block");
					console.log(responseData);
					Swal.fire({
						title: "Error adding to cart",
						text: "Please login to continue",
						icon: "error",
						showCancelButton: true,
						confirmButtonText: "Login",
						cancelButtonText: "Cancel",
					}).then((result) => {
						if (result.isConfirmed) {
							window.location.href = '/login';
						} else if (result.dismiss === Swal.DismissReason.cancel) {
						}
					});
				}
			} catch (error) {
				console.log(error);
			}
		} 
	</script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('.search-toggle').click(function () {
            $('.header-search-wrapper').toggle();
        });

        $('#searchInput').on('input', function () {
            var searchText = $(this).val().toLowerCase();
            $('#productListing .product').each(function () {
                var productName = $(this).find('.product-title a').text().toLowerCase();
                if (productName.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

	<script>
		document.getElementById('filter-submit').addEventListener('click', async (event) => {
			event.preventDefault();
			const selectedCategories = Array.from(document.querySelectorAll('.custom-control-input:checked'))
				.map(checkbox => checkbox.value);

			let selectedSortingInput = document.querySelector('input[name="sortBy"]:checked');
			let selectedSorting = null;

			if (selectedSortingInput) {
				selectedSorting = selectedSortingInput.value;
				const indexOfSorting = selectedCategories.indexOf(selectedSorting);
				if (indexOfSorting !== -1) {
					selectedCategories.splice(indexOfSorting, 1);
				}
			}
			await fetchProducts(selectedCategories, selectedSorting);
		});

		async function fetchProducts(selectedCategories, selectedSorting) {
			try {
				const response = await fetch('/shop', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ categories: selectedCategories, sortBy: selectedSorting }) // Include sorting option
				});
				const products = await response.json();
				displayProducts(products);
			} catch (error) {
				console.error('Error fetching products:', error);
			}
		}

		function displayProducts(products) {
			const productsContainer = document.querySelector('.products .row');
			if (products.length > 0) {
				productsContainer.innerHTML = '';
				products.forEach(product => {
					const productHtml = `
			<div class="col-6 col-md-4 col-lg-4 col-xl-3">
				<div class="product product-7 text-center">
					<figure class="product-media">
						<a href="/productDetails?productId=${product._id}">
							<img src="/assets/images/productImg/sharpedImg/${product.images[0]}" alt="Product image" class="product-image">
						</a>
						<div class="product-action-vertical">
							<a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
						</div><!-- End .product-action-vertical -->
						<div class="product-action">
							<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
						</div><!-- End .product-action -->
					</figure><!-- End .product-media -->
					<div class="product-body">
						<div class="product-cat"><!-- You can fill this dynamically based on your data --></div><!-- End .product-cat -->
						<h3 class="product-title"><a href="/productDetails?productId=${product._id}">${product.name}</a></h3><!-- End .product-title -->
						<div class="product-price">₹${product.price}</div><!-- End .product-price -->
						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<span class="ratings-text">( 2 Reviews )</span>
						</div><!-- End .rating-container -->
					</div><!-- End .product-body -->
				</div><!-- End .product -->
			</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->`;
					productsContainer.insertAdjacentHTML('beforeend', productHtml);
				});
			} else {
				productsContainer.innerHTML = '<span>No products</span>';
			}
		}
	</script>






	<%- include('../layout/user/footer.ejs') %>