<%-include('../layout/user/header.ejs') %>


<style>
    .transaction-history-page {
       max-width: 800px;
       margin: 0 auto;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 8px;
       background-color: #f9f9f9;
   }
   
   h1 {
       margin: 20px 0;
       font-size: 24px;
       text-align: center;
       background-color: #f9f9f9;
   }
   
   .transaction-table {
       margin-top: 20px;
       overflow-x: auto;
   }
   
   table {
       width: 100%;
       border-collapse: collapse;
       background-color: #fff;
   }
   
   th, td {
       padding: 12px 15px;
       text-align: left;
   }
   
   th {
       background-color: #f2f2f2;
       font-weight: bold;
       text-transform: uppercase;
       font-size: 14px;
   }
   
   tbody tr:nth-child(even) {
       background-color: #f2f2f2;
   }
   
   tbody tr:hover {
       background-color: #e6e6e6;
   }
   
   
   </style>


<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <div class="header-dropdown">
                        <a href="#">Usd</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">Eur</a></li>
                                <li><a href="#">Usd</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropdown -->

                    <div class="header-dropdown">
                        <a href="#">Eng</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>

                                <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li>
                                <a href="/" class="sf-ul">Home</a>
                            </li>
                            <li class="megamenu-container active">
                                <a href="/shop" class="sf-ul">Shop</a>
                            </li>
                            <li>
                                <a href="/about" class="sf-ul">About</a>
                            </li>

                            <li>
                                <a href="/contact" class="sf-ul">Contact</a>
                            </li>
                            <li>
                                <a href="/profile" class="sf-ul">
                                    <%= locals.user ? user.username :"Profile" %>
                                </a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="dropdown compare-dropdown">
                        <a href="/wishlist" class="dropdown-toggle" role="button" 
                            aria-haspopup="true" aria-expanded="false" 
                            title="Compare Products" aria-label="Compare Products">
                            <i class="icon-heart-o"></i>
                        </a>
                    </div><!-- End .compare-dropdown -->
                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                            aria-expanded="false" >
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">2</span>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->







    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item " aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link " id="tab-dashboard-link" 
                                        href="/profile" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link"  href="/editProfile" role="tab"
                                        aria-controls="tab-orders" aria-selected="false">Edit Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link"  href="/changePass"
                                        role="tab" aria-controls="tab-downloads" aria-selected="false">Change
                                        Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link"  href="/address" role="tab"
                                        aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link"  href="/viewOrders" role="tab"
                                        aria-controls="tab-account" aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-account-link " data-toggle="tab" href="/wallet" role="tab"
                                        aria-controls="tab-account" aria-selected="false">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="/wishlist" role="tab"
                                        aria-controls="tab-account" aria-selected="false">Wishlist</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="transaction-history-page">
                                    <div class="header">
                                        <!-- <button class="btn-back">Back</button> -->
                                        <h1>Transaction History</h1>
                                    </div>
                                    <div class="transaction-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(user.walletHistory.length > 0){%>
                                                <% user.walletHistory.forEach(history=>{%>
                                                <tr>
                                                    <td><%= history.reason%></td>
                                                    <td>₹<%= history.amount%></td>
                                                    <td><%= moment(history.date).format('DD/MM/YYYY')%></td>
                                                </tr>
                                                <%})%>
                                                <%}else{%>
                                                    <tr>
                                                        <td> No Transaction</td>
                                                    </tr>
                                                    <%}%>

                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>

                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item ">
                                                <a class="page-link page-link-prev" href="/transaction?id=<%= Previous %>"
                                                    aria-label="Previous" tabindex="-1">
                                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                                </a>
                                            </li>
                                            <% for(let i=1; i<=totalPages; i++){ %>
                                                <li class="page-item active" aria-current="page"><a class="page-link"
                                                        href="/transaction?id=<%= i%>"> <%= i%>
                                                        
                                                    </a></li>
                                                <% } %>
                                                    <li class="page-item-total">of <%= totalPages%>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link page-link-next" href="/transaction?id=<%= Next %>"
                                                            aria-label="Next">
                                                            Next <span aria-hidden="true"><i
                                                                    class="icon-long-arrow-right"></i></span>
                                                        </a>
                                                    </li>
                                        </ul>
                                    </nav>
                            </div>
                        </div>
                        <!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div>


    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4>

                            <ul class="widget-list">
                                <li><a href="/about">About Molla</a></li>
                                <li><a href="/sop">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="/contact">Contact us</a></li>
                                <li><a href="/login">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4>

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4>

                            <ul class="widget-list">
                                <li><a href="/login">Sign In</a></li>
                                <li><a href="/cart">View Cart</a></li>
                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="/vieworders">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div>







<%- include('../layout/user/footer.ejs') %>